{% extends 'layouts/base.html.twig' %}

{% block title %}Editer Profil!{% endblock %}

{% block body %}

<div class="row"> 
    <div class="col-md-6 mx-auto mt-5 text-center">
        <h1 class="my-5 text-center">Mettre à jour votre profil</h1>

        {{ form_start(form) }}
        <div class="row">

            <div class="col-md-6">                   
                    {{ form_row(form.lastName) }}
            </div>

            <div class="col-md-6">                
                    {{ form_row(form.firstName) }}
            </div>

        </div>

        {{ form_rest(form) }}

            <button type="submit" class="btn btn-lg" style="background-color:#dc3545;color:white;font-size:15px;">Appliquer les changements</button>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}

