{% extends 'layouts/base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block body %}
    {% if app.request.method == 'POST' %}

        <div class="pt-5">
            {% if pins|length == 0 %}
            
            <h2 class="text-center pt-5 text-muted">Aucun résultat trouvé pour votre recherche</h2>

            {% else %}
            <h1  class="mb-4 text-center text-muted">{{pluralize(pins|length, 'Jeu','Jeux')}} trouvé</h1>
                <h3 class="mt-3">Résultat(s) de votre recherche :</h3>

                {% for pin in pins %}

                <div class="mt-3 p-3 bg-light border rounded">
                    <a href="{{path('app_pins_show', {'id':pin.id})}}" class="text-decoration-none">
                            
                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) 
                            | imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title }}" class="w-40 rounded pb-2"/>

                        <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> <span class="text-danger">&cross;</span> {{ pin.title }}</h6>

                        <hr>
                        <div class="text-dark small p-1 rounded">
                                Créer le {{pin.createdAt | date('d-m-Y à H:i:i')}} par <i class="text-muted">{{pin.user.fullName}}</i>
                        </div>
                    </a>
                </div>

                {% endfor %}
                {% endif %}
        </div>
        {% endif %}
        {% endblock %}            

    

   
            
        


